name: Test
on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    env:
      TEST_IMAGE: "quay.io/helmpack/chart-testing:v3.0.0"
      BATS_IMAGE: "basisai/bats-helm:v1.2.1"
    steps:
      - uses: actions/checkout@v1
      - name: Lint
        run: tests/lint.sh
      - name: Unit Test
        run: tests/test.sh
